<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            position: relative;
        }
        
        .container {
            background: linear-gradient(-45deg, #ee7752, #23a6d5, #23d5ab);
            border: 3px solid #f1f1f1;
            height: 100vh;
            width: 100%;  
        }
    </style>
    
</head>

<body>
    <div class="container">
    <h1>CONNECT  WITH  ME</h1>
    <br>* Email - djshubhammusic@gmail.com *
    <br>
    <br>* Mobile - 9922794422 / 9588494097 *
    <br>
    <br>* YouTube - www.youtube.com/DjShubhamMusic *
    <br>
    <br>* Facebook - www.facebook.com/djshubhammusic *
    <br>
    <br>* Instagram - www.instagram.com/djshubhammusic *
    </div>
</body>

</html>