<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diclaimer</title>
    
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            position: relative;
        }
        
        .container {
            background: linear-gradient(-45deg, #ee7752, #23a6d5, #23d5ab);
            border: 3px solid #f1f1f1;
            height: 100vh;
            width: 100%;  
        }
    </style>
    
</head>
<body>
    <div class="container">
    <h1>DISCLAIMER</h1>
    <br>* Disclaimer - This Following Audio/Video is Strictly meant for Promotional Purpose. *
    <br>We Do not Wish to make any Commercial Use of this & Intended to Showcase the Creativity Of the Artist Involved. *
    <br>
    <br>* Disclaimer - The original Copyright(s) is (are) Solely owned by the Companies/ Original-Artist(s)/Record-label(s). *
    <br>All the contents are intended to Showcase the creativity of the Artist involved and is strictly done for promotional purpose. *
    <br>
    <br>* Disclaimer - This video is for Entertainment purpose only. Copyright Disclaimer Under Section 107 of the Copyright Act 1976, allowance is made for "fair use" for purposes such as criticism, comment, news reporting, teaching, scholarship, and research. Fair use is a use permitted by copyright statute that might otherwise be infringing. Non-profit, educational or personal use tips the balance in favor of fair use. *
    <br>
    <br>* Please Read The Disclaimer Before Download Anything From This Website. *
    <br>
    <br>* This is a promotional Website only, All files placed here are for introducing purpose only. *
    <br>
    <br>* Please, buy original Video Songs/contents from author. *
    <br>
    <br>* If you do not agree to all the terms, please disconnect from this site now itself. *
    <br>
    <br>* By remaining at this site, you affirm your understanding and compliance of the above disclaimer and absolve this site of any responsibility henceforth. *
    <br>
    <br>* All files found on this site have been collected from various sources across the web and are believed to be in the “public domain”. *
    <br>
    <br>* All the logos and stuff are the property of their respective owners. *
    <br>
    <br>* If you are the rightful owner of any contents posted here, and object to them being displayed or If you are one of representatives of copy rights department and you don’t like our conditions of store Please Contact Us We will remove it in 24 hours. *
    <br>
    <br>* Copyright Removal Request at <b>djshubhammusic@gmail.com</b> *
    </div>
</body>
</html>