<!doctype html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/css/style.css" th:href="@{/css/style.css}" class="css">
  <link rel="script" href="../static/JS/script.js" th:href="@{/script/script.js}" class="js">
  <title>Dj Shubham Music</title>
</head>

<body>
  <!-- Image and text in nav bar -->
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <img src="../static/img/logo.jpg" th:src="@{/img/logo.jpg}" width="60" height="60" alt="logo">
      Dj Shubham Music
    </a>
  </nav>

  <!-- buttons -->

  <div>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link active" href="home">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="aboutus">ABOUT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="disclaimer">DISCLAIMER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="contactus">CONTACT</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="privacypolicy">PRIVACY POLICY</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="termsofcondition">TERMS & CONDITION</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="adminlogin">ADMIN LOGIN</a>
      </li>
  </div>

  <!-- buttons -->

  <div>
    <form class="form-inline" action="/search" method="POST">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Your Remix" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
  <br>

  <!--Cards-->
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../static/img/bhimmurti.jpg" th:src="@{/img/bhimmurti.jpg}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Savlit Pimpalachya Bhim Murti Sajali | Remix | Dj Shubham Music - 56 chi vijayadashami Anand Shinde</p>
        <a href="https://youtu.be/3-C5cLTrdXA" class="btn btn-primary">Watch Video</a>
        <a href="https://bit.ly/3XKl3Ym" class="btn btn-primary">Download MP3</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../static/img/kyakehna.jpg" th:src="@{/img/kyakehna.jpg}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Kya Kehna Mere Sher Ka | Trending Song | Remix | Dj Shubham Music - Kya Kehna Mere Yaar Ka Dj</p>
        <a href="https://youtu.be/WzfE0Lztp_A" class="btn btn-primary">Watch Video</a>
        <a href="https://bit.ly/3YHTWhX" class="btn btn-primary">Download MP3</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../static/img/ashiq.jpg" th:src="@{/img/ashiq.jpg}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Aashiq Hu Me Dildar Hu | EDM Remix | Dj Shubham Music - Bol Bole Bol Tujhko Kya Chahiye Dj Song</p>
        <a href="https://youtu.be/01vhOQ7knV8" class="btn btn-primary">Watch Video</a>
        <a href="https://bit.ly/3S8wNml" class="btn btn-primary">Download MP3</a>
      </div>
    </div>
  </div>
  <br>

  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../static/img/shambhu.jpg" th:src="@{/img/shambhu.jpg}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Har_Har_Shambhu_Trending_Song_Bouncy_Mix | Dj Shubham Music - Har_Har_Shambhu_Shiv_Mahadeva_Dj_Song</p>
        <a href="https://youtu.be/TZcJnvZ0kZg" class="btn btn-primary">Watch Video</a>
        <a href="https://bit.ly/3SeWba8" class="btn btn-primary">Download MP3</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../static/img/dekhaekkhwab.jpg" th:src="@{/img/dekhaekkhwab.jpg}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Dekha Ek Khwab | Remix | Dj Shubham Music - Dekha Ek Khwab To Ye Silsile Hue Dj Song</p>
        <a href="https://youtu.be/0GTHW81PkkY" class="btn btn-primary">Watch Video</a>
        <a href="https://bit.ly/3xBWqlO" class="btn btn-primary">Download MP3</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../static/img/jhukeganhisala.jpg" th:src="@{/img/jhukeganhisala.jpg}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Muh Pe Laga Le Tala Me Jhukega Nahi Sala | Tapori Style Remix | Dj Shubham Music</p>
        <a href="https://youtu.be/a3gXgyoMaAw" class="btn btn-primary">Watch Video</a>
        <a href="https://bit.ly/3KiVjiA" class="btn btn-primary">Download MP3</a>
      </div>
    </div>
  </div>
  <br>

  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="../static/img/vijeta.jpg" th:src="@{/img/vijeta.jpg}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Vijeta Title Track | Remix | Dj Shubham Music - Har Jeet Hi Lapandav Re Dj Song</p>
        <a href="https://youtu.be/MHYVmBMHajI" class="btn btn-primary">Watch Video</a>
        <a href="https://bit.ly/3S97Rel" class="btn btn-primary">Download MP3</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../static/img/kalishirt.jpg" th:src="@{/img/kalishirt.jpg}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Kaali Shirt Waleyaa | Bass Boosted | Viral Song Remix | Dj Shubham Music - Simran Raj Sanchit Gunjan</p>
        <a href="https://youtu.be/0uyRKFEf9Ko" class="btn btn-primary">Watch Video</a>
        <a href="https://bit.ly/3Z3II73" class="btn btn-primary">Download MP3</a>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="../static/img/nad.jpg" th:src="@{/img/nad.jpg}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Naad Karaycha Nay | Remix | Dj Shubham Music - Naad Karaycha Nay Marathi Dj Song</p>
        <a href="https://youtu.be/1RCmLM7pjkc" class="btn btn-primary">Watch Video</a>
        <a href="https://bit.ly/3Zl1JCj" class="btn btn-primary">Download MP3</a>
      </div>
    </div>
  </div>
  <br>

  <!--Footer-->
  <div>
    <h5>Follow Me</h5>
  </div>
  <br>

  <!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Add font awesome icons -->
  <a href="https://m.facebook.com/djshubhammusic" class="fa fa-facebook"></a>
  <a href="https://www.instagram.com/djshubhammusic" class="fa fa-instagram"></a>
  <a href="https://youtube.com/channel/UCXsaRA7nsrxs722qBAgjMZQ" class="fa fa-youtube"></a>


  <!--page no-->
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item">
        <a class="page-link" href="index" tabindex="-1">Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="thirdpage">Next</a>
      </li>
    </ul>
  </nav>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</body>

</html>