<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms of Condition</title>

    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            position: relative;
        }
        
        .container {
            background: linear-gradient(-45deg, #ee7752, #23a6d5, #23d5ab);
            border: 3px solid #f1f1f1;
            height: 100vh;
            width: 100%;  
        }
    </style>

</head>

<body>
    <div class="container">
        <h3>What is djshubhammusic.com ?</h3>
        djshubhammusic.com is A Free Mobile Content Provide Site Where You Can Download Everything From Applications
        Like Mobile Games, Ringtone, Themes, FullMp3(48/64KBPS) To Videos(3gp.Avi.Mp4),Wallpaper, Animation Are Anything
        That Can Be Viewed And Enjoyed On Mobile Devices.
        <br>
        <h3>Are These Contain Free?</h3>
        Yeah! These Contain Are 100% Free, But Your Service Provider May Charge For Normal Airtime Usage. Service
        Provider Charge For Per Kilobyte For Download. Please Consult Your Service Provider For Full Info.
        <br>
        <h3>Is The Content On djshubhammusic.com Safe And Virus Free?</h3>
        All Uploaded Content And Applications Will Be Automatically Screened For Viruses Before They Are Made Available
        For Download On djsatishandsachin.in . We Cannot Guarantee That All Uploaded Content Is Free From Viruses, But
        We’ve Been Very Successful In Preventing The Spread Of Viruses.
    </div>
</body>

</html>